h1 {
    font-family: Arial;
    font-size: 24px;
}
table, th, td {
    border: 1px solid;
    border-color: #cbcbcb;
    border-collapse: collapse;
    text-align: left;
    font-family: Arial;
    width: 50%;
}
th, td {
    padding: 5px;
    width: 30%;
}
th {  
    background-color: #e0e0e0;
    font-weight: bold;
    font-size: 16px;
}
tr:nth-child(odd) {
    background-color: #f5f5f5;    
}
tr:nth-child(even) {
    background-color: transparent;
}
tr:hover {
    background-color: #ffff33
}
p {
   font-family: Arial; 
   font-size: 14px;
}
a {
   font-family: Arial; 
   font-size: 14px;
}